<ion-view title="Stops">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"  class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">        
        <label> Route: {{routeID}}</label>        
        <label> Connection Status: {{status}}</label>
        <ion-list ng-init="getStop()">
            <ion-item ng-repeat="stop in stops" href="#/app/routes/stops/{{stop.id}}">
                {{stop.display_name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
